.skill__container {
    margin: 0 var(--extra-large-margin);
    background: white;

    .skill__sub_container {
        padding: var(--extra-large-padding);
        background: var(--secondary-background-color);

        >h3 {
            width: fit-content;
            border-bottom: 1px solid var(--accent-color);
            padding: 0.5rem;
            margin: auto;
            font-size: var(--extra-large-font-size);
            color: var(--secondary-color);
        }

        .skill__icons {
            display: flex;
            flex-wrap: wrap;
            margin: 3rem 0;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;

            >* {
                border: 2px solid white;
                border-radius: 50%;
                color: var(--test-color);
                max-width: 70%;
                filter: drop-shadow(0px 0px 30px gray);
                cursor: pointer;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(0) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                >h3 {
                    margin-top: 1.5rem;
                    font-size: var(--medium-font-size);


                }

                >span {
                    margin-bottom: 1rem;
                }

                img {
                    width: 70%;
                    height: 70%;
                    object-fit: cover;
                }




            }
        }

        @media (max-width:400px) {
            padding: 0;

            >h3 {
                font-size: var(--large-font-size);
            }

        }
    }
}