.custom-cursor {
    position: fixed;
    width: 12px;
    height: 12px;
    border: 2px solid var(--heading--secondary-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 10px 2px var(--heading--secondary-color);
    transition: transform 0.2s linear;


    .cursor-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--heading-secondary-color);
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}

/* Example animation */
.custom-cursor:hover {
    transform: scale(1.5);
    /* Add more animation properties as needed */
}